* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  background: #0f172a;
  color: white;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #1f2937, #4c1d95);
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
  color: #4ade80;
}

.sidebar button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  background: #22c55e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  background: #7c3aed;
}

.main {
  flex: 1;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: linear-gradient(135deg, #22c55e, #7c3aed);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.card p {
  font-size: 30px;
  margin-top: 10px;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 200px;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

form button:hover {
  background: #7c3aed;
}

.jalur-box{
  margin-top:30px;
  background:#111827;
  padding:20px;
  border-radius:20px;
}

select{
  padding:10px;
  border:none;
  border-radius:10px;
  width:200px;
}

.status-active{
  background:#22c55e;
  padding:6px 12px;
  border-radius:20px;
}

.status-maintenance{
  background:#eab308;
  color:black;
  padding:6px 12px;
  border-radius:20px;
}

.status-putus{
  background:#ef4444;
  padding:6px 12px;
  border-radius:20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #334155;
}

th {
  background: #111827;
}
